.button-search {
  border-radius: 200px;
  padding: 16px 60px;
  width: 173px;
  height: 56px;
  background-color: #e44848;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
  border: none;
}

.button-search:hover,
.button-search:active {
  background-color: #d84343;
}

.button-show-more {
  composes: button-search;
  padding: 16px 40px;
  width: 166px;
}

.button-send {
  composes: button-search;
  width: 160px;
}

.button-load-more {
  composes: button-search;
  font-size: 15px;
  border: 1px solid rgba(71, 84, 103, 0.2);
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  background-color: transparent;
  color: #101828;
}

.button-load-more:hover,
.button-load-more:active {
  border: 1px solid #e44848;
  background-color: transparent;
}
