.card {
  display: flex;
  padding: 24px;
  gap: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  width: 840px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categories-container {
  margin-bottom: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 526px;
}
.card-picture {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.favorite {
  display: flex;
  align-items: center;
  gap: 11px;
}

.thumb-star-location {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.star {
  display: flex;
  align-items: center;
  gap: 4px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
  line-height: 150%;
  color: #475467;
}

.button-hart {
  background-color: transparent;
  border: none;
}

.button-hart-icon {
  fill: none;
  stroke: #101828;
}

.button-hart-icon:hover {
  fill: #e44848;
  stroke: #e44848;
}
